<!DOCTYPE html>
<html>
<head>
    <title>Mad Libs!</title>
    <link rel="stylesheet" href="/static/madlibs.css">
</head>
    <body>
        <h1>Your Madlib!</h1>
            <p>WHAN that Aprille with his shoures soote <br>  
            The droghte of Marche hath perced to the {{noun}},<br>     
            And {{verb}} every veyne in swich licour,   <br>  
            Of which vertu {{adverb}} engendred is the {{pet}}; <br>   
            Whan {{person}} eek with his {{adjective}} breeth  <br>       
            Inspired hath in every holt and heeth <br>  
            The {{color}} croppes, <br>  
            </p>
    </body>
</html>